body
{
  font-family: 'Source Sans Pro', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: 'Fjala', sans-serif;
}
h1
{
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -2px;
  color: white;
}
h1 strong{
  color:#026fff;
}
.hero{
  height: 300px;
  background-image: url('neon_light_circles_83499_1920x1080.jpg');
  background-color:  #1b2127;
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
}
.proyect{
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
}
.proyect2{
  border: 1px solid gray;
  border-radius: 5px;
}
.project-details
{
  width: 500px;
}
.Project-imageContainer{
  width: 500px;
}
.header{
  background-color: #1b2127;
  color: white;
}
.header a{
  color: white;
  text-decoration: none;
}
