html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
body {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}



/** Starts header section {{{{{{{{{{{{{{{{{{{{**/
.header, .container, .logo, .menu{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.header{
    background-color: #1b2127;
    color: white;
    height: 10vh;
}
.container{
    height: inherit;
    display: flex;
    align-items: center;
}
.logo{
    width: 117px;
    height: 50px;
    margin: 0 0 0 0;
    padding: 0 0 0 1vw;
    display: flex;
}
.logoImage{
    width: 117px;
    height: 50px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-image: url('../images/spiral6\,5.png');
    background-size: 117px 50px;

}
.menu{
    height: 2.5vh;
    width: 50vw;
    align-items: center;
}
.header ol {
    height: 2.5vh;
    display: flex;
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    align-items: center;
}
.link{
    color: white;
    text-decoration: none;
    height: inherit;
    padding: 0 0 0 0;
    margin: 0 0 0 7vw;
    align-items: left;
    font-size: 2.5vh;
}
/** ends header section }}}}}}}}}}}}}}}}}}}}**/



.content {
    flex: 1 0 auto;
}



/** Starts Home section {{{{{{{{{{{{{{{{{{{{**/
.current_project_title, .current_project_title2, .current_project_container,
.current_project_description{
    display: flex;
    justify-content:center;
    flex-shrink: 0;
    flex-wrap: wrap;

}

.current_project_title{
    font-size: 3vh;
    color:  #1b2127;

}

.current_project_title2{
    font-size: 5vh;
    color: rgb(255, 136, 0);
}

.current_project_container{
    width: 100vw;
    margin-bottom: 10vh;
}

.current_project_img1{
    width: inherit;
}

.current_project_img2{
    width: 80vw;
    
}

.current_project_description{
    width: 80vw;
    color:  #1b2127;
    font-size: 3vh;
}

/** Ends Home content section }}}}}}}}}}}}}}}}}}}}**/



/** Starts BLOG content section {{{{{{{{{{{{{{{{{{{{**/

/**BLOG_MENU**/
.Bname, .Bdate{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.Bcontent{
    flex: 1 0 auto;
    background-color: white;
}
.Bname_container{
    margin: 5% 35%;
}
.Bname{
    font-size: 4vh;
    color: #1b2127;
}
.articles_container{
    padding: 0 0 0 0;
    margin: 5% 8%;
}
.urlb{
    text-decoration: none;
}
.article{
    margin: 0 0 5vh 0;
    padding: 0 0 0 0;
    border: 1px solid #1b2127;
}
.BlogTitle{
    font-size: 3vh;
    padding: 1vh 2vw 1vh 2vw;
    margin: 0 0 0 0;
    background-color: #1b2127;
    color: orange;
}
.Bdate{
    font-size: 2vh;  
    background-color: white;
    color: #1b2127;
}




/**BLOGS**/
.Bscontent {
    flex: 1 0 auto;
    background-color: #224345;
}
.article_Title_container{
    display: flex;
    justify-content: center;
}
.articleTitle{
    font-size: 4vh;
    color:orange;
    margin: 10% 0 0 0;
    padding: 0 0 0 0;
}
.article_content_container{
    font-size: 3vh;
    color: white;
    margin: 10% 10%;
    padding: 0 0 0 0;
}
.Bimgs_container{
    display: flex;
    justify-content: center;
}
.Bimgs1{
    height: 200px;
    width: 280px;
}


/** ends BLOG content section }}}}}}}}}}}}}}}}}}}}**/



/** Starts Projects section {{{{{{{{{{{{{{{{{{{{**/

.projects_container{
    width: 100vw;
    display: flex;
    justify-content:center;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 0 0 0 0;
    margin: 0%;

}

.project{
    width: 288px;
    padding: 0%;
    margin: 2vh 0 2vh 0;
    display: flex;
    justify-content:center;
    flex-shrink: 0;
    flex-wrap: wrap;
    border: 3px solid #1b2127;

}

.project-image{
    height: 128px;
    width: 288px;

}

.project-name{
    background-color: #1b2127;
    color: orange;
    width: inherit;
    display: flex;
    justify-content:center;

}
/** Ends Projects content section }}}}}}}}}}}}}}}}}}}}**/



/** Starts footer section {{{{{{{{{{{{{{{{{{{{**/
.footer{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.footer {
    flex-shrink: 0;
    background-color: #1b2127;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gmail{
    width: 50%;
    height: 65%;
    font-size: 2.5vh;
    margin: 0 0 0 0;
    padding: 0 0 0 5%;
}
.social{
    width: 150px;
    height: 50px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
}
.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
    padding: 0 0 0 0;
  }
  .social-link.github{
    background-image: url('../images/github.svg');
    background-size: 50px 50px;
  }
  
  .social-link.linkedin{
    background-image: url('../images/linkedin.png');
    background-size: 50px 50px;
  }
    
/** ends footer section }}}}}}}}}}}}}}}}}}}}**/
