body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #3b4957;
  margin: 0;
}



/** Starts hs section {{{{{{{{{{{{{{{{{{{{**/
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Fjala', sans-serif;
}

h1{
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -2px;
  color: white;
  margin: 0;
}

h1 strong{
  color:#026fff;
}

h2{
  color:#026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin-bottom: 40px;
}
/** Starts hs section }}}}}}}}}}}}}}}}}}}}**/




/** Starts header section {{{{{{{{{{{{{{{{{{{{**/
.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 90px;
}

.menu { /* .menu hereda de .header */
  height: inherit;
}

.header ol { /* .header ol hereda de .menu */
  display: flex;
  height: inherit;
}

.header ol li { /* .header ol li hereda de .header ol */
  height: inherit;
}

.header a { /* .header a hereda de .header ol li */
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  height: 70px;
  align-items: center;
  padding: 0 10px;
}
/** Ends header section }}}}}}}}}}}}}}}}}}}}**/




/** Starts hero's section {{{{{{{{{{{{{{{{{{{{**/
.hero{
    height: 300px;
    /*background-image: url('neon_light_circles_83499_1920x1080.jpg');*/
    background-color:  #1b2127;
  /*  background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.hero-image{
  object-fit: cover;
}
/** Ends hero's section }}}}}}}}}}}}}}}}}}}}**/




.portfolio{
  background: #3b4957;
  padding: 20px;
}




/** Starts proyect section {{{{{{{{{{{{{{{{{{{{**/
.proyect, .proyect2{
  border: 1px solid #3b4957;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 10px;
  padding: 20px;
  background: #dceef2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0d4170;
}

.project-title{
  font-size: 25px;
  margin-top: 0px;
  margin: 10px 0;
}

.project-course, .project-date, .project-url{
  margin: 10px 0;
}

.project-description{
  font-size: 20px;
}

.project strong{
  font-family: 'Fjala', sans-serif;
}

.project-details{
  width: 900px;
}

.Project-imageContainer{
  width: 500px;
}
/** Ends project's section }}}}}}}}}}}}}}}}}}}}**/




.flexbox{
display: flex;
}

.box{
  width: 200px;
  height: 200px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}




/** Starts event's section{{{{{{{{{{{{{{{{{{{{**/
.event-list{
  display: flex;
  flex-wrap: wrap;
  background-color: #3b4957;
  padding-bottom: 50px; 
}

.event-list-title{
  width: 1000px;
  margin: 50px 0px 25px 180px;
}

.event{
  border: 1px ;
  margin: 10px;
  width: 480px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #95b4ba;
  flex-wrap: wrap;
}

.event img{
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.event-details{
  margin: 20px 40px;
  margin-top: -40px;
  background: white;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-description{
  text-align: center;
}

.urla{
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  color: #056fff;
  border-radius: 5px;
}

/** Ends event's section}}}}}}}}}}}}}}}}}}}}**/




/** Starts contact section{{{{{{{{{{{{{{{{{{{{**/
.contactX{
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social{
}

.social-link{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social-link.github{
  background-image: url('images/github.svg');
  background-size: 50px 50px;
}

.social-link.linkedin{
  background-image: url('images/linkedin.png');
  background-size: 50px 50px;
}
/** Ends contact section}}}}}}}}}}}}}}}}}}}}**/




.container{
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.footer{
  background-color: #1b2127;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer img{
  vertical-align: middle;
}

.container2{
  width: 1250px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.urlb{
  text-decoration: none;
  color: #0d4170;
}

.Bimg{
  border: 1px ;
  margin: 10px auto;
  border-radius: 10px;
}

.Bimgs{
  width: 700px;
  margin: 0 auto;
}

.Bimg2{
  border: 1px ;
  margin: 10px auto;
  border-radius: 10px;
  width: 500px;
}

.Bimgs2{
  width: 500px;
  margin: 0 auto;
}